.form {
    margin: 8px;
    margin-bottom: 16px;

    .container {

        >* {
            width: 100%;

            >* {
                width: 100%;
            }
        }

        .mat-form-field.key {
            margin-bottom: 24px;
        }

        .mat-form-field.name {
            margin-bottom: 24px;
        }

        .header {
            font-size: 18px;
            margin-top: 16px;

            &.small {
                font-size: 16px;
                margin-top: 18px;
                margin-bottom: 16px;
            }
        }

        .error {
            color: #ff5252;
            margin-bottom: 12px;
        }
    }
}