.container {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    min-height: 80px;

     .error {
      color: var(--flag-validation-error);
      margin: 0 5px;
    }

     .info-box {
        padding-top: 11px;

        a {
            cursor: pointer;
            margin-top: 12px;
        }
    }
}

.setting-item {
    max-height: 700px;
    overflow-y: auto;
}