.form {
    margin: 8px;
    margin-bottom: 16px;

    .container {

        >* {
            width: 100%;
        }

         .error {
            color: var(--flag-validation-error);
            margin: 0 5px 5px 5px;
        }
    }
}