<div id="outer">
  @if (!authorizationParameters) {
    <div>
      <configcat-authorization (error)="error()" (authorized)="login($event)"></configcat-authorization>
    </div>
  }
  @if (authorizationParameters) {
    <form (ngSubmit)="add()" [formGroup]="formGroup" class="form">
      <div class="container">
        <configcat-product-select [basicAuthUsername]="authorizationParameters.basicAuthUsername"
          [basicAuthPassword]="authorizationParameters.basicAuthPassword"
          [valueFormControl]="formGroup.controls.productId" name="productId">
        </configcat-product-select>
        @if (formGroup.controls.productId.value) {
          <configcat-config-select [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [productId]="formGroup.controls.productId.value" [valueFormControl]="formGroup.controls.configId"
            (dropdownOpened)="selectDropdownPanelChanged($event)">
          </configcat-config-select>
        }
        @if (formGroup.controls.productId.value) {
          <configcat-environment-select [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [productId]="formGroup.controls.productId.value"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [valueFormControl]="formGroup.controls.environmentId"
            (dropdownOpened)="selectDropdownPanelChanged($event)" [customDropdown]="true">
          </configcat-environment-select>
        }
        @if (formGroup.controls.configId.value) {
          <configcat-setting-select [basicAuthUsername]="authorizationParameters.basicAuthUsername"
            [configId]="formGroup.controls.configId.value"
            [basicAuthPassword]="authorizationParameters.basicAuthPassword"
            [valueFormControl]="formGroup.controls.settingId"
            (dropdownOpened)="selectDropdownPanelChanged($event)" [customDropdown]="true">
          </configcat-setting-select>
        }
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </div>
    </form>
  }
</div>