<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="form">
            <p>Select the feature flag which you want to track on the Trello card.</p>
            <mat-form-field class="form-field">
                <mat-label>Product</mat-label>
                <mat-select formControlName="productId" (change)="onProductChanged()">
                    <mat-option *ngFor="let product of products" [value]="product.productId">
                        {{product.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Config</mat-label>
                <mat-select formControlName="configId">
                    <mat-option *ngFor="let config of configs" [value]="config.configId">
                        {{config.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Environment</mat-label>
                <mat-select formControlName="environmentId">
                    <mat-option *ngFor="let environment of environments" [value]="environment.environmentId">
                        {{environment.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Setting</mat-label>
                <mat-select formControlName="settingId">
                    <mat-option *ngFor="let setting of settings" [value]="setting.settingId">
                        {{setting.name}} ({{setting.key}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">Add feature flag</button>
            </div>
        </div>
    </div>
</form>