@use 'node_modules/ng-configcat-publicapi-ui/src/public-api.scss';

// Limit the "Manage predefined variations" dialog table content height.
html {
    body{
        .mat-mdc-dialog-container {
            .mat-mdc-dialog-content.mdc-dialog__content.dialog-table{
                max-height: 250px;
            }
        }
    }
}
