<h2>Hi there,</h2>
<p>This is the HTML connector for the ConfigCat Trello Power-Up.</p>

<h2>UI elements used in the Trello Power-Up</h2>
<div class="container">
    <div class="box">
        <h3>Authorization</h3>
        <div class="content">
            <!--
            <app-authorization>
            </app-authorization>
            -->
        </div>
    </div>

    <div class="box">
        <h3>Add feature flag</h3>
        <div class="content">
            <!--
            <app-add-feature-flag>
            </app-add-feature-flag>
            --> 
        </div>
    </div>

    <div class="box">
        <h3>Feature flags & Settings</h3>
        <div class="content">
            <!--
            <app-feature-flags-settings>
            </app-feature-flags-settings>
        -->
        </div>
    </div>
</div>
